@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(206, 253, 45, 0.737114914325105) 0%, rgba(34, 193, 195, 1) 100%);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
